ul.success li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: green;
    border-color: green;
    list-style: none;
}
ul.error li{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: red;
    border-color: red;
    list-style: none;
}
