extends layout

block content
 h2.page-header Login
 p Please login below
 form(method='post',action='/users/changepassword')
   .form-group
    label Username
    input.form-control(name='username',type='text',placeholder='Enter Username')
   .form-group
    label Old Password
    input.form-control(name='password',type='password',placeholder='Enter Old Password')
   .form-group
    label New Password
    input.form-control(name='password2',type='password',placeholder='Enter New Password')
   input.btn.btn-primary(type='submit',name='submit',value='Change')